body {
    background-color: rgb(213, 223, 255);
    color: white;
    margin: 0px 0px;
    font-family: 'Raleway', sans-serif;
}

img {
    height: 120px;
    display: inline;
    z-index: 2;
}

h1 {
    margin-left: 40px;
    display: inline;
    z-index: 2;
}

header {
    background-color: rgb(94, 130, 206);
    text-align: center;
    padding: 30px;
    padding-top: 40px;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 4px rgba(196, 196, 196, 0.933);
    overflow: hidden;
}

header::after {
    content: "";
    position: absolute;
    background-color: rgb(88, 119, 185);
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 1;
    transition: transform .5s;
}

header:hover::after {
    transform: translateY(0%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    margin-left: 9.5%;
    margin-top: 7%;
    gap: 50px;
    box-sizing: border-box;
}

.grid img {
    box-sizing: border-box;
}

.contenedor {
    min-width: 115px;
    width: 140px;
    padding: 50px;
    padding-left: 20px;
    padding-right: 70px;
    background-color: rgb(94, 130, 206);
    border-radius: 210px;
    border-top-right-radius: 1000px;
    text-align: center;
    transition: .5s;
    display: block;
    margin-right: 20px;
}

.contenedor:hover {
    box-shadow: 6px 6px 6px 6px rgb(134, 134, 134);
    transform: translateY(-10px);
    cursor: pointer;
    font-weight: bolder;
}

label {
    display: inline-block;
    margin-top: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.goHomeimg {
    height: 50px;
}

.goHome {
    display: flex;
    position: absolute;
    top: 89%;
    left: 2%;
    text-decoration: none;
    color: rgb(94, 130, 206);
}

#goHomeTxt {
    margin-left: 20px;
    font-weight: bolder;
    transition: color .4s;
}

footer:hover #goHomeTxt {
    color: black;
}

@media only screen and (max-width: 992px) {
    .header {
        text-align: center;
    }
    .grid {
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        text-align: center;
        margin-top: 5%;
        justify-items: center;
    }
}

@media only screen and (max-width: 693px) {
    .header {
        text-align: center;
    }
    .grid {
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        text-align: center;
        margin-top: 5%;
        margin-bottom: 10%;
        justify-items: center;
    }
}